**/target/*
**/.classpath
**/.project
**/.settings
**/.gitignore
*.iml
.java-version
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/ant.xml
.idea/dataSources.local.xml
.idea/dataSources.ids
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/libraries
.idea/copyright
.idea/shelf
.idea/inspectionProfiles/
.idea/dictionaries
.idea/misc.xml

# bazel
bazel-bin
bazel-error-prone
bazel-genfiles
bazel-out
bazel-testlogs
