target/*
.project
.settings/
annotation/.classpath
annotation/.gitignore
annotation/.project
annotation/.settings/
ant/.classpath
ant/.gitignore
ant/.project
ant/.settings/
core/.classpath
core/.gitignore
core/.project
core/.settings/
docgen/.classpath
docgen/.gitignore
docgen/.project
docgen/.settings/
maven/.classpath
maven/.gitignore
maven/.project
maven/.settings/
