**/.classpath
**/.gitignore
**/.project
**/.settings
**/target/*
*.iml
.java-version

# intellij
.idea/ant.xml
.idea/codestream.xml
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/copyright
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dictionaries
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/shelf
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml

# bazel
bazel-bazel
bazel-bin
bazel-error-prone
bazel-genfiles
bazel-out
bazel-testlogs
