html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 100px;
}
.page-title-bar {
  padding-top:20px;
  padding-bottom:20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 40px;
  background-color: #424242;
  color: #fff;
  padding: 20px;
}
.footer .text-muted {
  color: #E0E0E0;
}
.footer a {
  color: #E0E0E0;
}
.footer a:hover,
.footer a:focus {
  color: #fff;
  text-decoration: none;
}
.body-home {
  margin-bottom: 60px;
}
.body-home .footer {
  margin-top: 0;
}
dt {
  float: left;
  width: 80px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
dd {
  margin-left: 100px;
}
dl {
  margin-top: 20px;
}

.page-title-bar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-title-bar h1,
.page-title-bar h2,
.page-title-bar h3,
.page-title-bar h4,
.page-title-bar h5,
.page-title-bar h6 {
  margin: 8px 0px 4px 0px;
}
.vpad {
  padding-top: 20px;
}
.sidebar {
  margin-top: 20px;
}
.sidebar ul.sidebar-nav {
  list-style-type: none;
  padding: 0px;
}
.sidebar ul.sidebar-nav li .sidebar-nav-heading {
  padding: 4px 0px;
  margin: 0;
  display: block;
}
.sidebar ul.sidebar-nav li a {
  padding: 4px 0px;
  display: block;
}
.sidebar ul.sidebar-nav li a:focus,
.sidebar ul.sidebar-nav li a:hover {
  border-right: 2px solid #666;
  text-decoration: none;
}
.sidebar ul.sidebar-nav li.active a {
  border-right: 2px solid #666;
}
.sidebar ul.sidebar-nav ul.sidebar-nav {
  padding-left: 20px;
}
