<!doctype html>
<html>
  {% include header.html %}
  <body>
    {% include nav.html active="bugpatterns" %}
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10">
          <h1>
            {{page.title}}<br>
            <small>{{page.summary}}</small>
          </h1>
        </div>
        <div class="col-lg-1 col-md-2">
          <dl>
            <dt>Severity</dt><dd>{{page.severity}}</dd>
            {% if page.tags != "" %}<dt>Tags</dt><dd>{{page.tags}}</dd>{% endif %}
            {% if page.providesFix != "" %}<dt>Provides Fix?</dt><dd>{{page.providesFix}}</dd>{% endif %}
          </dl>
        </div>
      </div>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
