<!doctype html>
<html>
  {% include header.html %}
  <body>
    {% include nav.html active="docs" %}
    <div class="container vpad">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3">
          <nav class="sidebar">
          <ul class="sidebar-nav">
            <li><a href="{{ site.baseurl }}/docs/installation">Installing</a></li>
            <li><a href="{{ site.baseurl }}/docs/flags">Command-line flags</a></li>
            <li><a href="{{ site.baseurl }}/docs/criteria">Criteria for new checks</a></li>
          </ul>
          </nav>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9">
          <h1>{{page.title}}</h1>
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
